html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #a42828;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #a42828;/*#55acee;*/
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #1a1a1a;
}

.characterForm {
    border: 2px solid #f9f9f9;
    height: 35px;
    width: 700px;
    margin-top:0px;
    padding-top:10px;
    background-color: #a42828;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    float: right;
}

.characterForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.characterForm input[type=text] {
    float:left;
    margin-right: 20px;
}

.makeCharacterSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 115px;
    /*background-color: #f9f9f9;*/
    border-radius: 2px;
    /*color: white;*/
    text-decoration: none;
    margin-left: 20px;
}

.makeCharacterSubmit:link, .makeCharacterSubmit:visited, .makeCharacterSubmit:hover, .makeCharacterSubmit:active {
    color: white;
}

.makeCharacterSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #a42828;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #a42828;
    border-radius: 2px;
    border-color: #f9f9f9;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #a42828;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ce3333;
}

#characterMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#characterMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}

#character {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#characters {
    width: 65%;
    height: 45%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.character {
    width: 95%;
    height: 87%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #a42828;
    border-radius: 4px;
    background-color: #ededed;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

#attributeDiv {
    width: 150px;
    float: left;
}

.attribute {
    width: 25px;
}

label.attribute {
    padding-right: 5px;
}
#characterStr {
    margin-left: 25px;
}
#characterDex {
    margin-left: 19px;
}
#characterInte {
    margin-left: 4px;
}
#characterWis {
    margin-left: 26px;
}
#characterCha {
    margin-left: 18px;
}

#stuffDiv {
    width: 150px;
    float: left;
}
.stuff {
    width: 25px;
}
label.stuff {
    padding-right: 14px;
}
#characterSpd {
    margin-left: 41px;
}
#characterInit {
    margin-left: 23px;
}
#characterProB {
    margin-left: 103px;
}

#skillDiv {
    float: left;
    width: 410px;
    column-count: 3;
    column-gap: 35px;
}

#thingsDiv {
    
}

#updateCharacter {
    float: right;
}

#adds1 {
    border: 2px solid black;
    width: 150px;
    height: 700px;
    float: left;
}

#adds2 {
    border: 2px solid black;
    width: 150px;
    height: 700px;
    float: right;
}


img.characterFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyCharacter {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.characterName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.characterAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.character:first-child {
    margin-top: 10px;
}

.character:last-child {
    margin-bottom:10px;
}